= simple_form_for(@employee) do |f|
  = f.error_notification
  .col-lg-4.col-md-4.col-sm-12.col-xs-12
    .widget
      .widget-header{ style: 'background-color: #26bf28;'}
        %h4 Datos personales
      .widget-content{ style: 'padding:10px; padding-top:20px;'} 
        = f.input :rif_personal, label: false, input_html: { class: 'form-control', placeholder: "Cédula" }
        %br/
        = f.input :name, label: false, input_html: { class: 'form-control', placeholder: "Nombre" }
        %br
        = f.input :last_names, label: false, input_html: { class: 'form-control', placeholder: "Apellidos" }
        %br
        = f.input :sex, label: false, collection: ["Femenino", "Masculino"], include_blank: "- Sexo -", input_html: { class: "form-control" }
        %br/
        = f.input :email, label: false, input_html: { class: 'form-control', placeholder: "Email" }
        %br/
        = f.input :date_of_birth, label: false, input_html: { class: 'form-control datepicker', placeholder: "Fecha de nacimiento", readonly: "readonly", style:"background:white" }
        %br/
        = f.input :phone, label: false, input_html: { class: 'form-control', placeholder: "Teléfono de habitación" }
        %br/
        = f.input :mobile, label: false, input_html: { class: 'form-control', placeholder: "Teléfono celular" }
        %br/
        = f.input :address, label: false, input_html: { class: 'form-control', placeholder: "Dirección" }
        %br/
  .col-lg-8.col-md-8.col-sm-12.col-xs-12
    .widget
      .widget-header{ style: 'background-color: #0074be;'}
        %h4 Datos laborales
      .widget-content{ style: 'padding:10px; padding-top:20px;'} 
        = f.input :academic_level, label: false, collection: ["Primaria", "Bachiller", "Universitario", "Maestría", "Doctorado"], include_blank: "- Nivel académico -", input_html: { class: "form-control" }
        %br/
        = f.input :profession, label: false, input_html: { class: 'form-control', placeholder: "Profesión actual" }
        %br/
        = f.input :performance_area, label: false, input_html: { class: 'form-control', placeholder: "Área de desempeño", style: "height:150px;" }
        %br/
        = f.input :skills_summary, label: false, input_html: { class: 'form-control', placeholder: "Resumen de habilidades", style: "height:150px;" }
        %br/
        = f.input :courses_summary, label: false, input_html: { class: 'form-control', placeholder: "Resumen de cursos realizados", style: "height:150px;" }
        %br/
        = f.input :summary_experience, label: false, input_html: { class: 'form-control', placeholder: "Resumen de experiencias laborales", style: "height:150px;"}

  .col-lg-12.col-md-12.col-sm-12.col-xs-12{ style: "margin-bottom:15px;"}
    .form-actions
      = f.button :submit, "Guardar ficha", class: 'btn btn-primary pull-right'

:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker();
  })