= content_for(:title, "Admin - Fichas de empleo")
%center
  %h1 Listado de fichas

%table.table.datatable
  %thead
    %tr
      %th Nombre y apellidos
      %th Correo
      %th Teléfono
      %th Teléfono celular
      %th Nivel Académico
      %th
      %th
      %th

  - @employees.each do |employee|
    %tr
      %td= employee.name+" "+employee.last_names
      %td= employee.email
      %td= employee.phone
      %td= employee.mobile
      %td= employee.academic_level
      %td= link_to 'Vista previa', employee
      %td= link_to 'Editar', edit_employee_path(employee)
      %td= link_to 'Eliminar', employee, :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar esta ficha?' }

%br

= render "layouts/script_datatable"
