= content_for(:title, "Parcatur - Nueva ficha de empleo")
%section.affiliate
	= render 'layouts/messages'
	.container
		.title
			%h1 Formulario para ficha de empleo
			%hr
		= render 'form'
	= render "layouts/footertwo"
