= content_for(:title, "Ficha - #{@employee.last_names}")
%section.employee
  .container
    .title
      %h1 
        = "Ficha de #{@employee.name} #{@employee.last_names}"
      %hr
    %p#notice= notice

    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      %h3{ style: "margin-top:0px; color:#26bf28" } Datos personales
      %hr{ style: "border-color:#26bf28;" }
      .show-body{ style: "padding: 10px;"}
        %p
          %b Nombres
          = @employee.name
        %p
          %b Apellidos:
          = @employee.last_names
        %p
          %b Cédula:
          = @employee.rif_personal
        %p
          %b Sexo:
          = @employee.sex
        %p
          %b Email:
          = @employee.email
        %p
          %b Dirección:
          = @employee.address
        %p
          %b Fecha de nacimiento:
          = @employee.date_of_birth
        %p
          %b Teléfono de habitación:
          = @employee.phone
        %p
          %b Teléfono movil:
          = @employee.mobile
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      %h3{ style: "margin-top:0px; color:#0074be" } Datos académicos
      %hr{ style: "border-color:#0074be;" }
      .show-body{ style: "padding: 10px;"}
        %p
          %b Nivel académico:
          = @employee.academic_level
        %p
          %b Profesión:
          = @employee.profession
        %p
          %b Área de desempeño:
          = @employee.performance_area
        .bs-callout.bs-callout-info
          %h4 Resumen de habilidades:
          %p
            = @employee.skills_summary
        .bs-callout.bs-callout-info
          %h4 Resumen de cursos realizados:
          %p
            = @employee.courses_summary
        .bs-callout.bs-callout-info
          %h4 Resumen de habilidades:
          %p
            = @employee.summary_experience

