.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1",:id => "role-options-#{user.id}" }
	.modal-dialog
		.modal-content
			= simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f|
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
					%h1#myModalLabel.modal-title 
						%center
							Roles
				.modal-body
					= f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: user.role_ids.first	
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
					= f.submit "Asignar Rol", :class => "btn btn-primary"
