= content_for(:title, "Parcatur - Inicio")
%section.home
	.content-home
		.hidden-md.hidden-sm.hidden-xs.circle-hidden
			%center
				.circle-back#circle-1
					.circle{ style: "background:#ff8400" }
						.circle-text
							%p{ style: "font-size: 22px;"} Organización y dinamismo
		.portrait.hidden-xs
			%center
				%br.hidden-xs
				%br.hidden-xs
				%br.hidden-xs
				%h1.parcatur{ style: "color: white;"} PARCATUR
				%h4{ style: "color: white;"} Cámara de Turismo de Paraguaná
				.row{style: "padding-top: 15px;"}
					.col-lg-2.col-md-2.col-sm-4.col-xs-4
						= link_to "#{image_tag 'twitter.png', class: 'twitter'}".html_safe, "#"
					.col-lg-2.col-md-2.col-sm-4.col-xs-4
						= link_to "#{image_tag 'facebook.png', class: 'facebook'}".html_safe, "#"
					.col-lg-2.col-md-2.col-sm-4.col-xs-4
						= link_to "#{image_tag 'google+.png', class: 'google'}".html_safe, "#"
		.landscape
			%center
				%br.hidden-xs
				%br.hidden-xs
				%br.hidden-xs
				%h1.parcatur#text-animate{ style: "color: white;"} PARCATUR
				%h3#small-animate{ style: "color: white;"} Cámara de Turismo de Paraguaná
				.row{style: "padding-top: 15px;"}
					.col-lg-2.col-md-2.col-sm-4.col-xs-4.col-lg-offset-.col-md-offset-3{ style: "padding:0px;"}
						= link_to "#{image_tag 'twitter.png', class: 'twitter pull-right'}".html_safe, "https://twitter.com/PARCATUR", "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Twitter", target: "_blank"
					.col-lg-2.col-md-2.col-sm-4.col-xs-4{ style: "padding:0px;"}
						= link_to "#{image_tag 'facebook.png', class: 'facebook'}".html_safe, "https://www.facebook.com/camaradeturismodeparaguana", "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Facebook", target: "_blank"
					.col-lg-2.col-md-2.col-sm-4.col-xs-4{ style: "padding:0px;"}
						= link_to "#{image_tag 'google+.png', class: 'google pull-left'}".html_safe, "https://plus.google.com/s/parcatur", "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Google+", target: "_blank"

		.hidden-md.hidden-sm.hidden-xs.circle-hidden
			%center
				.circle-back#circle-2
					.circle{ style: "background: #26bf28" }
						.circle-text
							%p{ style: "font-size: 22px;"} Gremio turístico integrador.

	= render 'layouts/footer'

:javascript
	$(function(){
    
		$.fn.center = function () {
			this.css("position","absolute");
			this.css("top", ( $(window).height() - this.height() ) / 2  + "px");
			this.css("left", ( $(window).width() - this.width() ) / 2 + "px");
			return this;
		}

		$(".content-home").center();

		$(window).resize(function(){ // whatever the screen size this
			$(".content-home").center();       // this will make it center when 
		});                          // window resize happens  
	});