= content_for(:title, "#{@post.title}")
.post{ style: 'margin-bottom:15px;'}
	= link_to news_show_path(@post.id), class: 'news-title', data: { no_turbolink: true } do
		%h4= @post.title
	%i.fa.fa-calendar
	%small= @post.created_at.strftime("%B %d, %Y")
	%i.fa.fa-user
	%small= @post.user.name
	%i.fa.fa-folder-open
	%small= @post.category.name
	- if Blog.commentable
		%small.pull-right.hidden-xs= "#{@post.comments.count} commets"
		%i.fa.fa-comment.pull-right.hidden-xs
	.post-image
		= image_tag "#{@post.image}", class: 'news-image'
	.post-text
		%p= "#{@post.content}".html_safe
%hr

.col-sm-12.col-md-12.col-sm-12.col-xs-12.socials-shared{ style: "margin-bottom: 15px;"}
	.col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-facebook
		#fb-root
			.fb-like{"data-action" => "like", "data-href" => "#{request.url}", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
	.col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-gplus
		.g-plus{"data-action"=>"share", "data-annotation"=>"bubble"}
	.col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-twitter
		= link_to "Twittear", "https://twitter.com/share", class: "twitter-share-button", "data-lang" => "es", "data-text" => "#parcatur #{@post.title}", "data-url" => "#{request.url}", "data-via" => "parcatur"
%hr.hidden.xs

- if Blog.comments_facebook
	= render "blogadd/comments_facebook"
	