= content_for(:title, "Parcatur - Nosotros")
- banner = ["Banner1.jpg", "Banner2.jpg", "Banner3.jpg", "Banner4.jpg", "Banner5.jpg"]
%section.about
	= image_tag "#{banner[Random.rand(0..4)]}", id: "banner", class: "visible-lg visible-md"
	.container
		.title
			%h1 ¿QUÉ ES PARCATUR?
			%hr
		.row{ style: 'margin-bottom: 35px;'}
			.col-lg-4.col-md-4.col-sm-4.col-xs-12
				= icon 'bullseye', '', style: "font-size: 40px;", class: 'fa-inverse', id: 'icon-1'
				.bubble#bubble-1
					.text
						La Cámara de Prestadores de Servicios Turísticos de la Zona Libre de la Península de Paraguaná es una entidad dinamizadora y motor del tejido económico que invierte los esfuerzos intelectuales, materiales, espirituales y monetarios para el desarrollo sostenible, equitativo y accesible de la actividad turística en la península de Paraguaná.
			.col-lg-4.col-md-4.col-sm-4.col-xs-12
				= icon 'eye', '', style: "font-size: 40px;", class: 'fa-inverse', id: 'icon-2'
				.bubble#bubble-2
					.text
						Ser el gremio que busca integrar el turismo como un todo, compuesto por asociados comprometidos en el resguardo y puesta en valor del patrimonio cultural, la protección y conservación de los escenarios naturales y el beneficio social y económico de toda la comunidad, a través de actuaciones basadas en la ética y la moral.
			.col-lg-4.col-md-4.col-sm-4.col-xs-12
				= icon 'thumbs-up', '', style: "font-size: 40px;", class: 'fa-inverse', id: 'icon-3'
				.bubble#bubble-3
					.text
						%center	
							Productivo
							%br
							Inegridad
							%br
							Tolerancia
							%br
							Responsabilidad
							%br
							Honestidad

		.title
			%h1 ¿CUÁLES SON LOS OBJETIVOS DE PARCATUR?
			%hr

			.panel.panel-default
				.panel-heading{ style: 'background:#ff8400; color:white;' }
					%center
						OBJETIVOS
				%ul.list-group
					%center
						%li.list-group-item 
							Participar de manera activa en los planes de ordenamiento territorial del espacio turístico.
						%li.list-group-item 
							Proponer proyectos de infraestructura y proyectos turísticos.
						%li.list-group-item 
							Colaborar el fortalecimiento del sistema turístico estatal.
						%li.list-group-item
							Aportar esfuerzos en e fortalecimiento institucional de los actores turísticos.
						%li.list-group-item
							Fomentar la inversión, el emprendimiento y las redes socio productivas en el área turística.
						%li.list-group-item
							Gestionar planes de sensibilización, capacitación y formación del talento humano en el área turística.
						%li.list-group-item
							Desarrollar programas de turísmo social.
						%li.list-group-item
							Invertir en el posicionamiento del destino turístico de Falcón en el mercado nacional e internacional.

		.title
			%h1{ style: 'margin-top: 35px;' } ASÍ SE CONFORMA NUESTRO EQUIPO DE TRABAJO
			%hr

		.col-lg-12.col-md-12.col-sm-12.hidden-xs{ style: "margin-bottom:20px; "}
			= image_tag "organigrama-md.jpg", width: "100%;"
		.visible-xs{ style: "margin-bottom:20px; "}
			= image_tag "organigrama-xs.png", width: "100%;"

	= render 'layouts/footertwo'

	