= content_for(:title, "Parcatur - Afíliate")
%section.affiliate
	.container
		.title
			%h1 ¿POR QUÉ PERTENECER A PARCATUR?
			%hr

		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			%p{ style:"margin-bottom:20px; text-align: justify; font-size: 16px; font-family: 'Open Sans', sans-serif;"}
				PARCATUR te brinda respaldo institucional ante el sector turístico y sus clientes, demostrando estar legalmente constituida, además de una organización seria y responsable.
				%br
				%br
				Anualmente se diseñará un plan estratégico de promoción turística en el cual nuestros afiliados tendrán prioridad para la participación, siendo los primeros en conocerlo brindando lapsos más cómodos para la toma de decisión para ser incluidos.
				%br
				%br
				Procesos de capacitación de manera conjunta, se establecerán diagnósticos de necesidades y elaborarán propuestas de programas de capacitación diseñados a los requerimientos de nuestros afiliados y realizando las gestiones institucionales 

		.title
			%h1 ¿QUIÉNES PERTENECEN A PARCATUR?
			%hr

	#carousel.carousel.slide.bs.carousel{"data-ride" => "carousel"}
		.carousel-inner
			.item.active
				- ['afiliados1.png', 'afiliados2.png', 'afiliados3.png', 'afiliados4.png'].each do |image|
					.col-lg-3.col-md-3.col-sm-3.col-x12{ style: 'margin-bottom: 15px;'}
						= image_tag image, class: 'img-affilate'
			.item
				- ['afiliados5.png', 'afiliados6.png', 'afiliados7.png', 'afiliados8.png'].each do |image|
					.col-lg-3.col-md-3.col-sm-3.col-x12{ style: 'margin-bottom: 15px;'}
						= image_tag image, class: 'img-affilate'
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-6.btn-affiliate
				=link_to "<h1>Afiliación para empresas</h1>".html_safe, new_affiliate_path, class: 'btn btn-info', id: 'btn-affiliate'
			.col-lg-6.col-md-6.col-sm-6.col-xs-6.btn-affiliate
				=link_to "<h1>Afiliación para profesionales</h1>".html_safe, new_affiliate_personal_path, class: 'btn btn-info', id: 'btn-affiliate2'
		%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel"}
			%span.glyphicon.glyphicon-chevron-left.fa.fa-chevron-left
		%a.right.carousel-control{"data-slide" => "next", :href => "#carousel"}
			%span.glyphicon.glyphicon-chevron-right.fa.fa-chevron-right
	

	= render 'layouts/footertwo'


:javascript
	$('.carousel').carousel({
		interval: 5000
	})