= content_for(:title, "Parcatur - Contacto")
%section.contact_us
	.container
		%h1
			%i.fa.fa-phone-square
			%strong Contacto
			%small.hidden-xs Toda la información necesaria para contactárnos.
		%hr

		.col-lg-4.col-md-4.col-sm-6.col-xs-12
			.widget{style: "margin-top:5px;"}
				.widget-header{ style: 'background-color: #0074be;'}
					%h4 Formulario de contacto
				.content-widget
					= form_tag({controller: "home", action: "send_contact_message", method: "post"}, {class: "contact_form"}) do
						= text_field_tag :name, "", :class=>'form-control', :type => "text", :placeholder=>'Nombre', style: 'margin-bottom: 10px;'
						= text_field_tag :email, "", :class=>'form-control', :type => "text", :placeholder=>'Email', style: 'margin-bottom: 10px;'
						= text_area_tag :comment, "", :class=>'form-control' , :placeholder=>'Mensaje', style: 'margin-bottom: 10px; height: 80px;'
						#recaptcha_widget{:style => "display:block"}
							#recaptcha_image
							.input-group{ style:'margin-top: 5px; margin-bottom:10px;'}
								= text_field_tag :recaptcha_response_field, "",type: "text", id: "recaptcha_response_field", class: "form-control", placeholder: "Captcha"
								%span.input-group-btn
									= button_tag "<i class='fa fa-refresh'></i>".html_safe, :type => "button", class: "form-control", :onclick => "javascript:Recaptcha.reload(); return false;"
						= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
						= button_tag(type: 'submit', class: "btn btn-info", style:"width:100%") do
							%i.fa.fa-envelope.fa-2x
		.col-lg-4.col-md-4.col-sm-4.col-xs-12.logo-contact.hidden-xs.hidden-sm
			= image_tag 'logo-contact.png', class: 'img-contact'
			%h1 PARCATUR
			%small Cámara de Turismo de Paraguaná
		.col-lg-4.col-md-4.col-sm-6.col-xs-12
			.widget{style: "margin-top:5px;"}
				.widget-header{ style: 'background-color: #26bf28;'}
					%h4 Datos de contacto
				.content-widget
					%ul 
						%li 
							%i.fa.fa-map-marker.fa-2x{ style:"padding-left: 4px;"} 
							&nbsp &nbsp Av. 6 CCR Las Virtudes Local A1-7, de la ciudad de Punto Fijo, estado Falcón
							%br
							%br 
						%li 
							%i.fa.fa-phone.fa-2x{style:"padding-left: 4px;"}
							&nbsp &nbsp Teléfonos:  +58-0416.8744929 / +58-0414.6934673
							%br
							%br 
						%li 
							%i.fa.fa-envelope.fa-2x
							&nbsp &nbsp Email: info@parcatur.org
							%br 
							%br
						%li 
							%i.fa.fa-facebook-square.fa-2x
							%a{:href => "https://www.facebook.com/camaradeturismodeparaguana", target: "_blank" }
								&nbsp &nbsp Visítanos en Facebook
							%br
							%br
						%li 
							%i.fa.fa-twitter-square.fa-2x
							%a{:href => "https://twitter.com/PARCATUR", target: "_blank" } 
								&nbsp &nbsp Síguenos en Twitter
							%br 
							%br
		.col-sm-12.logo-contact.visible-sm
			= image_tag 'linkedin.png', width: "180px", style: "margin-top: 10px;"
			%h2 Parcatur
			%h4 Cámara de turismo de Paraguaná
	= render "layouts/footertwo"

:javascript
	$(".img-contact").bind('oanimationend animationend webkitAnimationEnd', function() { 
		$("h1").addClass("h1-animate");
		$("h1").css("top", "0px");
		$("h1").css("opacity", "1");
		$(".h1-animate").bind('oanimationend animationend webkitAnimationEnd', function() { 
			$("small").addClass("small-animate");
			$(".small-animate").css("top", "0px");
			$(".small-animate").css("opacity", "1");
		});
	});






	