= content_for(:title, "Parcatur - Enlaces")
%section.links
	.container{ style: 'margin-bottom: 30px;'}
		%h1
			%i.fa.fa-external-link-square
			%strong Enlaces de interés
			%small.hidden-xs Documentos y organizaciones que te pueden interesar.
		%hr{style: "margin-bottom:0px;"}

		.col-lg-6.col-md-6.col-sm-6.col-xs-12{style: "margin-top:0px;"}
			%h2 Documentos
			.links-download.col-lg-12.col-md-12.col-sm-12.col-xs-12
				= link_to "https://db.tt/V7PzFFmr", id: "link-1", class: "a-download" do
					= image_tag "pdf.png", class: "logo-download pull-left", id: "img-1"
					Manual de buenas prácticas
			.links-download.col-lg-12.col-md-12.col-sm-12.col-xs-12
				= link_to "https://db.tt/SJ2KMGBE", id: "link-2", class: "a-download" do
					= image_tag "pdf.png", class: "logo-download pull-left", id: "img-2"
					Reglamento para establecimientos de alojamiento
			.links-download.col-lg-12.col-md-12.col-sm-12.col-xs-12
				= link_to "https://db.tt/IezeAtnB", id: "link-3", class: "a-download" do
					= image_tag "pdf.png", class: "logo-download pull-left", id: "img-3"
					Tabulador de servicios de los establecimientos de alojamiento turísticos
			.links-download.col-lg-12.col-md-12.col-sm-12.col-xs-12
				= link_to "https://db.tt/1B6joc6d", id: "link-3", class: "a-download" do
					= image_tag "pdf.png", class: "logo-download pull-left", id: "img-3"
					Tabulador de hoteles turísticos
			.links-download.col-lg-12.col-md-12.col-sm-12.col-xs-12
				= link_to "https://db.tt/vVyXY3DR", id: "link-3", class: "a-download" do
					= image_tag "pdf.png", class: "logo-download pull-left", id: "img-3"
					Tabulador de posadas

		.col-lg-6.col-md-6.col-sm-6.col-xs-12{style: "margin-top:0px;"}
			%h2 Propuestas
			.links-download.col-lg-12.col-md-12.col-sm-12.col-xs-12
				= link_to root_path, id: "link-1", class: "a-download" do
					= image_tag "pdf.png", class: "logo-download pull-left", id: "img-1"
					Propura

	#carousel-links.carousel.slide.bs.carousel.hidden-xs{"data-ride" => "carousel"}
		.container
			.carousel-inner
				.item.active
					- {'CONSETURISMO' => 'http://www.conseturismo.com', 'ALAV' => 'http://www.alav.org.ve/', 'FENAHOVEN' => 'http://www.fenahoven.org', 'AVAVIT' => 'http://www.avavit.com'}.each do |name, link|
						.col-lg-3.col-md-3.col-sm-3.col-x12{ style: 'margin-bottom: 15px; margin-top:20px;'}
							%center
								= link_to link, target: "_blank", class: "links-name" do
									= name
				.item
					- {'AVOCA' => 'http://www.avoca.com.ve', 'AVAMAREP' => 'http://www.avemarep.com', 'CTENE' => 'http://www.ctene.org', 'CACOINPAR' => 'http://www.cacoinpar.com'}.each do |name, link|
						.col-lg-3.col-md-3.col-sm-3.col-x12{ style: 'margin-bottom: 15px; margin-top:20px;'}
							%center
								= link_to link, target: "_blank", class: "links-name" do
									= name
				.item
					- {'MINTUR' => 'http://www.mintur.gob.ve', 'CORPOTULIPA' => 'http://corpotulipa.gob.ve', 'INATUR' => 'http://www.inatur.gob.ve', 'TREMMEL' => 'http://www.tremmelca.net'}.each do |name, link|
						.col-lg-3.col-md-3.col-sm-3.col-x12{ style: 'margin-bottom: 15px; margin-top:20px;'}
							%center
								= link_to link, target: "_blank", class: "links-name" do
									= name
		%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-links"}
			%span.glyphicon.glyphicon-chevron-left.fa.fa-chevron-left
		%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-links"}
			%span.glyphicon.glyphicon-chevron-right.fa.fa-chevron-right

	= render 'layouts/footertwo'


:javascript
	$('.carousel').carousel({
		interval: 5000
	})