- unless current_user
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      %h5{ style: "font-family: 'Raleway', sans-serif;"} Si usted ya se encuentra registrado/a por favor coloque su cédula aquí.
    = form_tag home_search_affiliate_professional_path, :method => 'get' do
      .col-lg-6.col-md-6.col-sm-12.col-xs-12{ style: "padding-left:0px;" }
        .col-lg-10.col-md-10.col-sm-10.col-xs-10{ style: "padding:0px; margin-bottom:18px;"}
          = text_field_tag :search, params[:search], class: "form-control", placeholder: "Cédula"
        .col-lg-2.col-md-2.col-sm-2.col-xs-2{ style: "padding-left:2px;" }
          = submit_tag "Buscar", :name => nil, class: "btn btn-success"
= simple_form_for(@affiliate_personal) do |f|
  = f.error_notification
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .widget
      .widget-header{ style: 'background-color: #26bf28;'}
        %h4 Datos del Profesional
      .widget-content.row{ style: 'padding:10px; padding-top:20px;'} 
        .col-lg-6.col-md-6.col-sm-12.col-xs-12
          = f.input :rif_personal, label:false, input_html: { class: 'form-control', placeholder: "Cédula" }
          %br/
          = f.input :name, label:false, input_html: { class: 'form-control', placeholder: "Nombres y apellidos" }
          %br/
          = f.input :profession, label:false, input_html: { class: 'form-control', placeholder: "Profesión" }
          %br/
          = f.input :ocupation, label:false, input_html: { class: 'form-control', placeholder: "Ocupación" }
          %br/
          = f.input :phone, label:false, input_html: { class: 'form-control', placeholder: "Teléfono de habitación" }
          %br/
          = f.input :mobile, label:false, input_html: { class: 'form-control', placeholder: "Teléfono celular" }
          %br/
          = f.input :email, label:false, input_html: { class: 'form-control', placeholder: "Email" }
        .col-lg-6.col-md-6.col-sm-12.col-xs-12
          = f.input :municipality, label: false, collection: ["Carirubana", "Falcón", "Los Taques"], include_blank: "- Municipio -" , input_html: { class: "form-control" }
          %br/
          = f.input :city, label:false, input_html: { class: 'form-control', placeholder: "Ciudad" }
          %br/
          = f.input :sector, label:false, input_html: { class: 'form-control', placeholder: "Sector" }
          %br/
          = f.input :street, label:false, input_html: { class: 'form-control', placeholder: "Calle/Avenida" }
          %br/
          = f.input :local, label:false, input_html: { class: 'form-control', placeholder: "Casa/Apto/Edif" }

  .col-lg-12.col-md-12.col-sm-12.col-xs-12{ style: "margin-bottom:15px;"}
    .form-actions
      = f.button :submit, "Guardar Afiliación", class: 'btn btn-primary pull-right'
