= content_for(:title, "Admin - Afiliaciones de profesionales")
%center
  %h1 Listado de Afiliaciones

%table.table.datatable
  %thead
    %tr
      %th Cédula
      %th Nombre
      %th Profesión
      %th Teléfono 
      %th Email
      %th
      %th
      %th

  - @affiliate_personals.each do |affiliate|
    %tr
      %td= affiliate.rif_personal
      %td= affiliate.name
      %td= affiliate.profession
      %td= affiliate.phone
      %td= affiliate.email
      %td= link_to 'Vista previa', affiliate
      %td= link_to 'Editar', edit_affiliate_personal_path(affiliate)
      %td= link_to 'Eliminar', affiliate, :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar esta afiliación?' }

%br

= render "layouts/script_datatable"
