= content_for(:title, "Parcatur - Nueva afiliación")
%section.affiliate
	= render 'layouts/messages'
	.container
		.title
			%h1 Formulario de afilación
			%hr
		= render 'form'
	= render "layouts/footertwo"
