= content_for(:title, "#{@affiliate_personal.name}")
%section.affiliate
  .container
    .title
      %h1 
        = "Datos de "+@affiliate_personal.name
      %hr
    %p#notice= notice

    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .show-body{ style: "padding: 10px;"}
        %p
          %b Cédula:
          = @affiliate_personal.rif_personal
        %p
          %b Nombre:
          = @affiliate_personal.name
        %p
          %b Profesión:
          = @affiliate_personal.profession
        %p
          %b Ocupación:
          = @affiliate_personal.ocupation
        %p
          %b Télefono de habitación:
          = @affiliate_personal.phone
        %p
          %b Télefono de celular:
          = @affiliate_personal.mobile
        %p
          %b Email:
          = @affiliate_personal.email
        %p
          %b Direción:
          = "#{@affiliate_personal.city}, #{@affiliate_personal.municipality}, #{@affiliate_personal.sector}, #{@affiliate_personal.street}, #{@affiliate_personal.local}"
    .col-lg-12.col-md-12.col-sm-12.col-xs-12{ style:"margin-top:40px; margin-bottom: 60px; width:100%" }
      = link_to "Descargar planilla", pdf_registration_professional_path(@affiliate_personal.id, format: :pdf), class: 'btn btn-primary'


= render "layouts/footertwo"
    