<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
      <h1>Contacto Parcatur</h1>
    </center>
    <p>
      <strong>Nombre del cliente:</strong>  <%= @name %> 
    </p>
    <p>
      <strong>Email del cliente:</strong> <%= @email %>
    </p>
    <p>
      <strong>Mensaje:</strong> <%= @comment %>
    </p>
    
  </body>
</html>