%img{ src: "http://parcatur.org/assets/logo-documents.png", width: "180px" }
%section.affiliate
	%h3{ style: "margin-bottom: 3px; margin-top: 0px;"}
		%center
			Planilla de afiliación
	%hr
	.container{ style: "margin-left: 20px; margin-right: 20px; width:100%;"}
		%div{ style: "margin-right: 40px;"}
			%h4{ style: "margin-top:30px; color:#26bf28; margin-bottom: 3px;" } Datos del profesional
			%hr{ style: "border-color:#26bf28;" }
			.show-body{ style: "padding: 10px; padding-top:10px;"}
				%p{ style: "font-size: 12px;"}
					%b Cédula:
					= @affiliate.rif_personal
				%p{ style: "font-size: 12px;"}
					%b Nombre:
					= @affiliate.name
				%p{ style: "font-size: 12px;"}
					%b Profesión:
					= @affiliate.profession
				%p{ style: "font-size: 12px;"}
					%b Ocupación:
					= @affiliate.ocupation
				%p{ style: "font-size: 12px;"}
					%b Teléfono de habitación:
					= @affiliate.phone
				%p{ style: "font-size: 12px;"}
					%b Teléfono celular:
					= @affiliate.mobile
				%p{ style: "font-size: 12px;"}
					%b Email:
					= @affiliate.email
				%p{ style: "font-size: 12px;"}
					%b Domicilio fiscal:
					= "#{@affiliate.city}, #{@affiliate.municipality}, #{@affiliate.sector}, #{@affiliate.street}, #{@affiliate.local}"
	%hr
		%p{ style: "font-size: 12px; text-align: justify; margin-top: 500px; margin-left:100px;"}
			= "Yo, <b>#{@affiliate.name.humanize}</b> solicito ser admitido como miembro de la <b>CÁMARA DE TURISMO DE LA ZONA LIBRE DE PARAGUANÁ</b>, comprometiéndome a satisfacer la cuota anual que me corresponda, en la dirección antes mencionada. En conocimiento y comprometido con lo establecido en los Estatutos, firman conmigo la presente solicitud, dos socios de esa Cámara como proponentes.".html_safe
	.container{ style: "margin-left: 120px; margin-right: 20px; width:100%; margin-top:60px;"}
		%center
			%div{ style: "float:left; margin-right:20px;"}
				%hr{ style: "border-bottom-color:black;" }
				%p{ style: "font-size: 12px; "}= "Firma de #{@affiliate.name}"
			%div{ style: "float:left; margin-right:20px;"}
				%hr{ style: "border-bottom-color:black;" }
				%p{ style: "font-size: 12px;"} Firma del socio que presenta
			%div{ style: "float:left"}
				%hr{ style: "border-bottom-color:black;" }
				%p{ style: "font-size: 12px;"} Firma del socio que presenta
