//datos de la empresa
- unless current_user
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      %h5{ style: "font-family: 'Raleway', sans-serif;"} Si su empresa ya se encuentra registrada por favor coloque su rif aquí.
    = form_tag home_search_affiliate_path, :method => 'get' do
      .col-lg-6.col-md-6.col-sm-12.col-xs-12{ style: "padding-left:0px;" }
        .col-lg-2.col-md-2.col-sm-2.col-xs-4{ style: "padding-left:0px; padding-right:2px;"}
          = select_tag :rif_letter, options_for_select(["J", "G", "V"]), class: "form-control"
        .col-lg-8.col-md-8.col-sm-8.col-xs-6{ style: "padding:0px; margin-bottom:18px;"}
          = text_field_tag :search, params[:search], class: "form-control", placeholder: "Rif"
        .col-lg-2.col-md-2.col-sm-2.col-xs-2{ style: "padding-left:2px;" }
          = submit_tag "Buscar", :name => nil, class: "btn btn-success"
= simple_form_for(@affiliate) do |f|
  = f.error_notification
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    .widget
      .widget-header{ style: 'background-color: #26bf28;'}
        %h4 Datos de la empresa u organizacón
      .widget-content{ style: 'padding:10px; padding-top:20px;'} 
        = f.input :company_name, label: false, input_html: { class: 'form-control', placeholder: "Nombre de la compañia/organización" }
        %br
        = f.input :president_name, label: false, input_html: { class: 'form-control', placeholder: "Nombre del presidente de la empresa" }
        %br
        .col-lg-2.col-md-2.col-sm-2.col-xs-4{ style: "padding-left:0px;"}
          = f.select :rif_type, options_for_select(["J", "G", "V"]), {}, { class: "form-control" }
        .col-lg-10.col-md-10.col-sm-10.col-xs-8{ style: "padding:0px; margin-bottom:18px;"}
          = f.input :company_rif, label: false, input_html: { class: 'form-control', placeholder: "Número de Rif" }
        = f.input :id_merchant, label: false, input_html: { class: 'form-control', placeholder: "Número mercantil" }
        %br
        = f.input :company_category, label: false, collection: ["Alojamiento", "Alimentos y bebidas", "Agencia de viajes", "Recreación", "Transporte", "Servicios aplicados al turismo", "Otro"], include_blank: "- Tipo de establecimiento -", input_html: { class: "form-control" }
        %br
        = f.input :company_city, label: false, input_html: { class: 'form-control', placeholder: "Ciudad" }
        %br
        = f.input :company_municipality, label: false, collection: ["Carirubana", "Falcón", "Los Taques"], include_blank: "- Municipio -" , input_html: { class: "form-control" }
        %br
        = f.input :company_sector, label: false, input_html: { class: 'form-control', placeholder: "Sector" }
        %br
        = f.input :company_street, label: false, input_html: { class: 'form-control', placeholder: "Calle/Avenida" }
        %br
        = f.input :company_local, label: false, input_html: { class: 'form-control', placeholder: "Casa/Apto/Edif" }
        %br
        = f.input :phone, label: false, input_html: { class: 'form-control', placeholder: "Teléfono prinicpal" }
        %br
        = f.input :fax, label: false, input_html: { class: 'form-control', placeholder: "Fax" }
        %br
        = f.input :company_email, label: false, input_html: { class: 'form-control', placeholder: "Email" }
        %br
        = f.input :company_web, label: false, input_html: { class: 'form-control', placeholder: "URL web" }

  //datos del representante
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    .widget
      .widget-header{ style: 'background-color: #0074be;'}
        %h4 Datos del representante ante Parcatur
      .widget-content{ style: 'padding:10px; padding-top:20px;'}
        = f.input :personal_name, label: false, input_html: { class: 'form-control', placeholder: "Nombre" }
        %br
        = f.input :personal_rif, label: false, input_html: { class: 'form-control', placeholder: "Cédula" }
        %br
        = f.input :personal_profession, label: false, input_html: { class: 'form-control', placeholder: "Profesión" }
        %br
        = f.input :position_personal_company, label: false, input_html: { class: 'form-control', placeholder: "Cargo en la empresa/organización"}
        %br
        = f.input :old_personal_company, label: false, input_html: { class: 'form-control', placeholder: "Antiguedad en la empresa/organización" }
        %br
        = f.input :personal_phone, label: false, input_html: { class: 'form-control', placeholder: "Teléfono de habitación" }
        %br
        = f.input :personal_mobile, label: false, input_html: { class: 'form-control', placeholder: "Teléfono celular" }
        %br
        = f.input :personal_fax, label: false, input_html: { class: 'form-control', placeholder: "Fax" }
        %br
        = f.input :personal_address, label: false, input_html: { class: 'form-control', placeholder: "Dirección" }
        %br
        = f.input :personal_email, label: false, input_html: { class: 'form-control', placeholder: "Email" }
        %br
        = f.input :personal_web, label: false, input_html: { class: 'form-control', placeholder: "URL web" }
  .col-lg-12.col-md-12.col-sm-12.col-xs-12{ style: "margin-bottom:15px;"}
    .form-actions
      = f.button :submit, "Guardar Afiliación", class: 'btn btn-primary pull-right'