= content_for(:title, "Admin - Afiliaciones de empresas")
%center
  %h1 Listado de Afiliaciones

%table.table.datatable
  %thead
    %tr
      %th Nombre de la organización
      %th Presidente de la organización
      %th RIF
      %th Teléfono 
      %th Email
      %th
      %th
      %th

  - @affiliates.each do |affiliate|
    %tr
      %td= affiliate.company_name
      %td= affiliate.president_name
      %td= affiliate.rif_type+affiliate.company_rif
      %td= affiliate.phone
      %td= affiliate.company_email
      %td= link_to 'Vista previa', affiliate
      %td= link_to 'Editar', edit_affiliate_path(affiliate)
      %td= link_to 'Eliminar', affiliate, :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar esta afiliación?' }

%br

= render "layouts/script_datatable"
