= content_for(:title, "#{@affiliate.company_name}")
%section.affiliate
  .container
    .title
      %h1 
        = "Datos de "+@affiliate.company_name
      %hr
    %p#notice= notice

    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      %h3{ style: "margin-top:0px; color:#26bf28" } Datos de la empresa u organización
      %hr{ style: "border-color:#26bf28;" }
      .show-body{ style: "padding: 10px;"}
        %p
          %b Nombre/Razón social:
          = @affiliate.company_name
        %p
          %b Presidente de la empresa:
          = @affiliate.president_name
        %p
          %b Rif:
          = @affiliate.rif_type+@affiliate.company_rif
        %p
          %b Número mercantil:
          = @affiliate.id_merchant
        %p
          %b Tipo de establecimiento:
          = @affiliate.company_category
        %p
          %b Domicilio fiscal:
          = "#{@affiliate.company_city}, #{@affiliate.company_municipality}, #{@affiliate.company_sector}, #{@affiliate.company_street}, #{@affiliate.company_local}"
        %p
          %b Teléfono:
          = @affiliate.phone
        %p
          %b Fax:
          = @affiliate.fax
        %p
          %b Email:
          = @affiliate.company_email
        %p
          %b Web:
          = @affiliate.company_web
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      %h3{ style: "margin-top:0px; color:#0074be" } Datos del representante ante Parcatur
      %hr{ style: "border-color:#0074be;" }
      .show-body{ style: "padding: 10px;"}
        %p
          %b Nombre:
          = @affiliate.personal_name
        %p
          %b Cédula/Rif:
          = @affiliate.personal_rif
        %p
          %b Profesión:
          = @affiliate.personal_profession
        %p
          %b Cargo que ocupa en la empresa:
          = @affiliate.position_personal_company
        %p
          %b Antiguedad en la empresa:
          = @affiliate.old_personal_company
        %p
          %b Teléfono de habitación:
          = @affiliate.personal_phone
        %p
          %b Teléfono personal:
          = @affiliate.personal_mobile
        %p
          %b Fax:
          = @affiliate.personal_fax
        %p
          %b Dirección:
          = @affiliate.personal_address
        %p
          %b Email:
          = @affiliate.personal_email
        %p
          %b Web:
          = @affiliate.personal_web
    .col-lg-12.col-md-12.col-sm-12.col-xs-12{ style:"margin-top:10px; margin-bottom: 20px;" }
      = link_to "Descargar planilla", pdf_registration_sheet_path(@affiliate.id, format: :pdf), class: 'btn btn-primary'
  = render "layouts/footertwo"
