= content_for(:title, "Admin - Posts")
%center
	%h3 Listado de posts
	= link_to "Nuevo Post", new_post_path, class: 'btn btn-success'

%table.table.datatable
	%thead
		%tr
			%th Título
			%th ¿Publicado?
			%th Categoría
			%th Autor
			%th 
			%th 
			%th 

	- @posts.each do |post|
		%tr
			%td= post.title
			%td= post.public ? "Si" : "No"
			%td= post.category.name
			%td= post.user.name
			%td= link_to 'Vista previa', post
			%td= link_to 'Editar', edit_post_path(post)
			%td= link_to 'Eliminar', post, :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar?' }



= render "layouts/script_datatable"
