= content_for(:title, "Posts - #{@post.title}")
%p
  %b Imagen principal:
  = image_tag @post.image, width: "300px"
%p
  %b Título:
  = @post.title
%p
  %b Contenido:
  = @post.content.html_safe
%p
  %b ¿Artículo publicado?
  = @post.public ? "Si" : "No"
%p
  %b Categoría:
  = @post.category.name
%p
  %b Autor:
  = @post.user.name
