%h1 Blogadd#index
-	@posts.each do |post|
	.row
		- if post.public
			.col-sm-12.col-md-12
				.caption
					%h4
						= link_to "#{post.title}", blog_path(post.id)
.row
	%center 
		= paginate @posts
	


	

