// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin {
	width: 100%;

	.inline {
		margin-left: 20px;
		font-size: 14px;
	}

	.radio_buttons {
		margin-right: 4px;
	}

	.forms {
		margin-bottom: 20px;
	}
}

