.affiliate {
	padding-top: 80px;

	.btn-primary {
		width: 100%;
		font-size: 30px;
		font-weight: bold;
	}

	.show-body {
		p {
			font-size: 16px;
		}
	}

	.form-control {
		font-family: 'Raleway', sans-serif;	
		font-size: 14px;
	}
}

#carousel {
	width: 100%;
	background: white;

	.carousel-inner {
		padding-bottom: 50px;
	}

	.item {
		margin-top: 110px;
	}

	.left {
		background: none;
		span {
			background: white;
			top:37%;
			left: 0px;
			padding-top: 20px;
			padding-right: 10px;
			width: 60px;
			height: 80px;
			color: #26bf28;
			font-size: 40px;
			margin: 0px;

		}

	}

	.right {
		background: none;
		
		span {
			background: white;
			right: 0px;
			top:37%;
			padding-top: 20px;
			padding-right: 0px;
			width: 60px;
			height: 80px;
			color: #26bf28;
			font-size: 40px;
			margin: 0px;
		}
	}

	#btn-affiliate {	
		font-size: 14px;
		width: 100%;
		margin-top: 40px;
		background-color: #0074be;
		border-radius: 0px;
		border: 0px;

		h1 {
			font-weight: bold;
			padding-top: 4px;
			margin: 0px;
		}
	}

	#btn-affiliate:hover {
		background-color: #007DCC;
	}

	#btn-affiliate2 {	
		font-size: 14px;
		width: 100%;
		margin-top: 40px;
		background-color: #26bf28;
		border-radius: 0px;
		border: 0px;

		h1 {
			font-weight: bold;
			padding-top: 4px;
			margin: 0px;
		}
	}

	#btn-affiliate2:hover {
		background-color: rgba(38, 191, 40, 0.87);
	}

	.row {
		margin: 0px;
		
	}

	.btn-affiliate {
		padding: 0px;
	}
}


/*large desktop*/
  @media(min-width:1200px) {
  	.img-affilate {
			width:100%;
			max-width: 180px;
		}
  }

  /*media desktop*/
  @media(min-width:992px){
  }

  /*phone*/
  @media(max-width:767px) {
  	.img-affilate {
			width: 120px;
	}
  }

  /*phone portrait*/
  @media(max-width: 767px) and (orientation : portrait) {

  }

  /*tablet*/
  @media(min-width:768pxs) {

  }

  /*tablet portrait*/
  @media(min-width:768px) and (orientation : portrait) {

  }