.contact_us {
	padding-top: 15px;

	h2 {
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		margin: 0px;
		margin-top: 10px;
	}

	.logo-contact{
		text-align: center;
		

		h1 {
			position: relative;
			opacity: 0;
			top:-100px;
			z-index:-1;
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
			margin: 0px;
			letter-spacing: -4px;
			font-size: 3em;
		}

		.h1-animate {
			-webkit-animation-duration: 1s;
		  -webkit-animation-name: parcatur;
		  animation-duration: 1s;
		  animation-name: parcatur;

		}

		small {
			opacity: 0;
			top:-100px;
			position: relative;
			font-size: 1.3em;
			font-weight: bold;
			margin: 0px;
		}

		.small-animate {
			-webkit-animation-duration: 0.5s;
		  -webkit-animation-name: parcatur;		
		  animation-duration: 0.5s;
		  animation-name: parcatur;		
		}

		.img-contact {
			position: relative;
			z-index: 1;
			margin-top: 14%;
			width: 250px;
			-webkit-animation: logocontact 1s;
			animation: logocontact 1s;
		}
	}

	li {
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 16px;
		a:hover{
			text-decoration: none;
		}
	}
}

/*large desktop*/
  @media(min-width:1200px) {
 		.fixed {
			position: fixed;
		}
  }

  /*media desktop*/
  @media(min-width:992px){
		@keyframes logocontact {
			0% {
			  opacity: 0;
			}

			100% {
			  opacity: 1;
			}
		}

		@keyframes parcatur {
			0% {
			  top: -100px;
			}

			100% {
			  top: 0px;
			}
		}

  	@-webkit-keyframes logocontact {
			0% {
			  opacity: 0;
			}

			100% {
			  opacity: 1;
			}
		}

		@-webkit-keyframes parcatur {
			0% {
			  top: -100px;
			  
			}

			100% {
			  top: 0px;
			}
		}

		.fixed {
			position: fixed;
		}
  }

  /*phone*/
  @media(max-width:767px) {
  
  }

  /*phone portrait*/
  @media(max-width: 767px) and (orientation : portrait) {
  
  }

  /*tablet*/
  @media(min-width:768pxs) {
  	.fixed {
			position: fixed;
		}
  }

  /*tablet portrait*/
  @media(min-width:768px) and (orientation : portrait) {
  	.fixed {
			position: fixed;
		}
  }

  #recaptcha_image {
  	width: 100% !important;
  }

