// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bs-callout {
	border-radius: 3px;
	border: 1px solid #dddddd;
	border-left: 3px solid #0074be;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

	h4{
		font-weight: bold;
		color: #0074be;
	}
}