.home {
  margin: 0px;
	width: 100%;
  height: 100%;
  background: image-url('background.svg') no-repeat fixed;
  background-size: cover;
  padding-top: 14%;
  padding-bottom: 14%;
  
  .row {
    margin: 0px;
  }

  .content-home {
    width: 100%;
  }

  h1 {
    margin-top: 0px;
  	font-family: 'Raleway', sans-serif;
  	font-weight: bold;
    letter-spacing: -10px;
  }

  h3{
    margin-top: 0px;
  }

  /*large desktop*/
  @media(min-width:1200px){
  }

  /*media desktop*/
  @media(min-width:992px){
  }

  /*phone*/
  @media(max-width:767px){
  	h1 {
  		font-size: 3em;
      letter-spacing: -5px;
  	}

    .landscape {
      display: block;
    }

    .twitter {
      position: relative;
      bottom: -30px;
      opacity: 0;
      max-width: 30px;
    }

    .facebook {
      position: relative;
      bottom: -30px;
      opacity: 0;
      max-width: 30px;
    }

    .google {
      position: relative;
      bottom: -30px;
      opacity: 0;
      max-width: 30px;
    }

  }

  @media(max-width: 767px) and (orientation : portrait) {
    h1 {
      font-size: 4em;
      letter-spacing: -5px;
    }

    .landscape {
    }
  }

  /*tablet*/
  @media(min-width:768px) {
  	h1 {
  		font-size: 7.5em;
      letter-spacing: -9px;
  	}

    .portrait {
      display: none;
    }
  }

  @media(min-width:768px) and (orientation : portrait) {
    .circle-hidden {
      display: none;
    }

    .portrait {
      display: block;
    }

    .landscape {
      display: none;
    }

    h1 {
      font-size: 8em;
      letter-spacing: -5px;
    }
  }
}

.circle-back {
	position: absolute;
  height:240px;
  width:240px;
  border: 40px solid rgba(0, 0, 0, 0.65);
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius: 50%;
  color:white;
}

.circle {
	position: relative;
  height:160px;
  width:160px;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius: 50%;
  text-align:center;
  color:white;
}

.circle-text {
	font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
	padding-top: 33%;
}

#circle-1 {
  display: block;
  left: 0px;
  opacity: 0;
}

#circle-2 {
  display: block;
  right: 0px;
  opacity: 0;
  top: 0px;
}

#text-animate {
  position: relative;
  opacity: 0;
  top: -150px;
}

#small-animate {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  position: relative;
  opacity: 0;
  bottom: -150px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.twitter {
  position: relative;
  bottom: -30px;
  opacity: 0;
  max-width: 65px;
}

.facebook {
  position: relative;
  bottom: -30px;
  opacity: 0;
  max-width: 65px;
}

.google {
  position: relative;
  bottom: -30px;
  opacity: 0;
  max-width: 65px;
}