.links {
	margin-top: 80px;

	.links-download {

		.logo-download {
			width: 65px;
		}

		.a-download {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			position: relative;
			top: 25px;
		}

		.a-download {
			text-decoration: none;
		}

		#img-1:hover {
			margin-left: 10px;
		}

		#img-2:hover {
			margin-left: 10px;
		}

		#img-3:hover {
			margin-left: 10px;
		}
	}
}

#carousel-links {
	width: 100%;
	background: #0074be;

	.carousel-inner {
		padding-bottom: 110px;
	}

	.item {
		margin-top: 110px;

		a {
			font-family: 'Raleway', sans-serif;
			color: white;
			text-align: center;
			font-weight: bold;
			font-size: 30px;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.left {
		background: none;

		span {
			background: white;
			top:37%;
			left: 0px;
			padding-top: 20px;
			padding-right: 10px;
			width: 60px;
			height: 80px;
			color: #0074be;
			font-size: 40px;
			margin: 0px;
		}

	}

	.right {
		background: none;

		span {
			background: white;
			right: 0px;
			top:37%;
			padding-top: 20px;
			padding-right: 0px;
			width: 60px;
			height: 80px;
			color: #0074be;
			font-size: 40px;
			margin: 0px;
		}
	}
}
