#navbar-home.navbar-default {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	background-color: #213338;
	border-color: #e7e7e7;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	margin-bottom: 0px;
	border-radius: 0px;

	.logo-brand {
		width: 180px;
	}

	.navbar-nav > li > a {
		color: white;
	}

	.enable {
		position: relative;
		top: -4px;
	}

	.navbar-nav > .enable > a {
		color: #26bf28;
		border-bottom: 2px solid #26bf28;
		padding-bottom: 5px;
	}
}

