.news {
	margin-top: 80px;

	.news-title {
		color: #888;
		h4 {
			font-family: 'Open Sans', sans-serif;
			font-weight: bold;
		}
	}

	.news-title:hover {
		text-decoration: none;
		color: #333333;
	}

	.news-posts {
		.post-image {
			margin-top: 10px;
			border: 1px solid #999999;
			padding: 5px;
			border-radius: 5px;
		}

		.post-text {
			margin-top: 15px;
		}

		.delete-image {
			img {
				display: none;
			}
		}

		i {
			color:#888;
			margin-right: 2px;
		}

		small {
			margin-right: 8px;
		}
	}

	.timeline-header {
		padding: 0px;
	}
}

.widget{
	margin-top: 15px;
	margin-bottom: 30px;
	border: 1px solid #eee;
	.widget-header {
		padding: 5px;
		padding-left: 20px;
		h4 {
			color: white;
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
		}
	}

	.content-widget {
		background-color: #fcfcfc;
		padding: 10px;
	}

	ul {
		margin-top:10px;
		padding-left: 10px;

		li {
			list-style-type: none;
		}
	}
}

/*large desktop*/
  @media(min-width:1200px) {
 		.news-image {
			width: 100%;
			height: 400px;
		}
  }

  /*media desktop*/
  @media(min-width:992px){
  	.news-image {
			width: 100%;
			height: 300px;
		}
  }

  /*phone*/
  @media(max-width:767px) {
  	.news-image {
			width: 100%;
			height: 200px;
		}
  }

  /*phone portrait*/
  @media(max-width: 767px) and (orientation : portrait) {
  	.socials-shared {
  		display: none;
  	}
  }

  /*tablet*/
  @media(min-width:768pxs) {
  	.news-image {
			width: 100%;
			height: 200px;
		}
  }

  /*tablet portrait*/
  @media(min-width:768px) and (orientation : portrait) {
  	.news-image {
			width: 100%;
			height: 300px;
		}
  }