.about {
	margin-top: 70px;
	height: 600px;

	#bubble-1 {
		background: #0074be;
		-webkit-animation: bubble1 2s;
		animation: bubble1 2s;
	}

	#bubble-1:after {
		border-color: #0e74be transparent;
	}

	#bubble-2 {
		background: #26bf28;
		-webkit-animation: bubble2 1.5s;
		animation: bubble2 1.5s;
	}

	#bubble-2:after {
		border-color: #26bf28 transparent;
	}

	#bubble-3 {
		background: #ff8400;
		-webkit-animation: bubble3 1s;
		animation: bubble3 1.5s;
	}

	#bubble-3:after {
		border-color: #ff8400 transparent;
	}

	#banner {
		width: 100%;
		height: 300px;
		padding-bottom: 20px;
	}

	i {
		margin-top: 10px;
		margin-left: 5px;
		margin-bottom: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid	white;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
  }

  #icon-1 {
  	background: #0074be;
  	padding: 10px;
  	padding-left: 12px;
  	padding-right: 12px;
  	position: relative;
  	-webkit-animation: icon 2s;
  	animation: icon 2s;
  }

  #icon-2 {
  	background: #26bf28;
  	padding: 10px;
  	position: relative;
  	-webkit-animation: icon 2s;
  	animation: icon 2s;
  }

  #icon-3 {
  	background: #ff8400;
  	padding: 10px;
  	padding-left: 12px;
  	padding-right: 12px;
  	position: relative;
  	-webkit-animation: icon 2s;
  	animation: icon 2s;
  }
}

.bubble {
	position: relative;
	width: 100%;
	height: auto;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	.text {
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		padding: 12px;
	  text-align: justify;
	  color: white;
	}
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 12px 17px;
	display: block;
	width: 0;
	z-index: 1;
	top: -17px;
	left: 24px;
}

.panel-default{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 25px;
	.list-group-item {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: black;
	}
}

.panel-heading { 
	background: #ff8400;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

 /*large desktop*/
  @media(min-width:1200px) {
  	
  }

  /*media desktop*/
  @media(min-width:992px){
  	/*firefox*/
		@keyframes bubble1 {
			0% {
			  left: -500px;
			}

			33% {
			  left: -500px;
			}

			66% {
			  left: 30px;
			}

			100% {
			  left: 0px;
			}
		}

		@keyframes bubble2 {
			0% {
			  left: -1000px;
			}

			33% {
			  left: -1000px;
			}

			66% {
			  left: 30px;
			}

			100% {
			  left: 0px;
			}
		}

		@keyframes bubble3 {
			0% {
			  left: -1500px;
			}

			33% {
			  left: -1500px;
			}

			66% {
			  left: 30px;
			}

			100% {
			  left: 0px;
			}
		}

		@keyframes icon {
			0% {
				opacity: 0.2;
			  top: -500px;
			}

			33% {
				opacity: 0.5;
			  top: 20px;
			}

			66% {
				opacity: 0.8;
			  top: -5px;
			}

			100% {
				opacity: 1;
			  top: 0px;
			}
		}

		/*chrome*/
  	@-webkit-keyframes bubble1 {
			0% {
			  left: -500px;
			}

			33% {
			  left: -500px;
			}

			66% {
			  left: 30px;
			}

			100% {
			  left: 0px;
			}
		}

		@-webkit-keyframes bubble2 {
			0% {
			  left: -1000px;
			}

			33% {
			  left: -1000px;
			}

			66% {
			  left: 30px;
			}

			100% {
			  left: 0px;
			}
		}

		@-webkit-keyframes bubble3 {
			0% {
			  left: -1500px;
			}

			33% {
			  left: -1500px;
			}

			66% {
			  left: 30px;
			}

			100% {
			  left: 0px;
			}
		}

		@-webkit-keyframes icon {
			0% {
				opacity: 0.2;
			  top: -500px;
			}

			33% {
				opacity: 0.5;
			  top: 20px;
			}

			66% {
				opacity: 0.8;
			  top: -5px;
			}

			100% {
				opacity: 1;
			  top: 0px;
			}
		}
  }

  /*phone*/
  @media(max-width:767px) {
  	.panel-default {
	  	margin-right: 0px;
			margin-left: 0px;
		}

		.title {
			h1 {
				font-size: 2em;
			}
		}
  }

  /*phone portrait*/
  @media(max-width: 767px) and (orientation : portrait) {

  }

  /*tablet*/
  @media(min-width:768pxs) {

  }

  /*tablet portrait*/
  @media(min-width:768px) and (orientation : portrait) {

  }

  




