<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
      <h3>
        <%= "#{@affiliate.company_name} ha realizado una solicitud de afiliacón" %>
      </h1>
    </center>
    <p>
      <%= link_to "Presione este link para visualizar los datos de la nueva solicitud de afiliación.", "http://parcatur.org/affiliates/#{@affiliate.id}" %>
    </p>
    
  </body>
</html>