<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
      <h3>
        <%= "#{@affiliate.name}, bienvenidos a PARCATUR, siga estos pasos" %>
      </h3>
    </center>
    <h3>Estimado Solicitante</h3>
    <br>
    Su solicitud de afiliación ha sido recibida de manera satisfactoria, para concluir el proceso de adhesión al gremio puede enviar al correo afiliado@parcatur.org copia digital (jpg, png o pdf) de los siguientes documentos:
    <br>
    <br>
    <h3>Empresas</h3>
    <ol>
      <li>R.I.F. de la empresa</li>
      <li>Cédula de Identidad del representante legal ante Parcatur</li>
      <li>Voucher de Deposito o Comprobante de la transferencia de las 5 U.T.</li>
    </ol>
    <h3>Profesionales del Turismo</h3>
    <ol>
      <li>Fondo Negro de Título Universitario Registrado</li>
      <li>R.I.F.</li>
      <li>Cédula de identidad</li>
      <li>Voucher de Deposito o Comprobante de la transferencia de las 5 U.T.</li>
    </ol>
    <br>
    También puede dirigirse a la sede de IT Viajes C.A. ubicada en la Calle Cabure con General Pelayo Sector Puerta Maraven, Punto Fijo. Allí puede llevar los originales de los documentos anteriores y hacer las copias correspondientes, de igual manera si desea puede hacer el pago en efectivo, cualquiera sea el caso en esta dirección se retira la factura correspondiente al pago.
    <br>
    <br>
    Cualquier información adicional puede comunicarse con nosotros al teléfono 0269 2441815 o con el Lcdo. Richard Zambrano al teléfono 0416 8744929 / 0414 6948757
    <br>
    <br>
    Agradecidos por ser parte de esta iniciativa en la búsqueda de un destino turístico sustentable, sostenible, accesible y de altos niveles de calidad.
    <br>
    <br>
    <h3>Directiva PARCATUR<h3/>
  </body>
</html>