%footer#footer-1.bs-docs-footer
	%center
		Todos los derechos reservados 2014. Desarrollado por
		%a{ href: 'http://slicegroup.xyz', target: '_blank' }
			= image_tag "slice.png", width: "50px", id: "img-slice"