- flash.each do |name, msg|
	- if msg.is_a?(String)
		.container{ style: "margin-bottom:0px;"}
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: 'margin-top: 10px; margin-bottom:0px;' }
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
