%li{ class: "#{'enable' if params[:action] == 'index'}" }= link_to 'Inicio', root_path, data: { no_turbolink: true }
%li{ class: "#{'enable' if params[:action] == 'about'}" }= link_to 'Nosotros', home_about_path
%li{ class: "#{'enable' if ['affiliate', 'new'].include? params[:action] and params[:controller] == 'home' or params[:controller] == 'affiliates' or params[:controller] == 'affiliate_personals' }" }= link_to 'Afíliate', home_affiliate_path
%li{ class: "#{'enable' if ['news', 'show'].include? params[:action] and params[:controller] != 'affiliates' and params[:controller] != 'affiliate_personals' }" }= link_to 'Noticias', home_news_path, data: { no_turbolink: true }
%li{ class: "#{'enable' if params[:action] == 'links'}" }= link_to 'Enlaces', home_links_path
%li{ class: "#{'enable' if ['employee', 'new'].include? params[:action] and params[:controller] == 'employees' }" }= link_to 'Empléate', new_employee_path
%li{ class: "#{'enable' if params[:action] == 'contact_us'}" }= link_to 'Contacto', home_contact_us_path


