- if current_user
	%li{ class: "#{'active' if params[:controller] == 'posts'}" }= link_to 'Posts', posts_path
	- if current_user.has_role? :admin
		%li{ class: "#{'active' if params[:controller] == 'categories'}" }= link_to 'Categorías', categories_path
		%li{ class: "#{'active' if params[:controller] == 'affiliates'}" }= link_to 'Afiliaciones de empresas', affiliates_path
		%li{ class: "#{'active' if params[:controller] == 'affiliate_personals'}" }= link_to 'Afiliaciones de profesionales', affiliate_personals_path
		%li{ class: "#{'active' if params[:controller] == 'employees'}" }= link_to 'Fichas de empleo', employees_path
		%li{ class: "#{'active' if params[:controller] == 'users'}" }= link_to 'Usuarios', users_path
	%li= link_to 'Salir', destroy_user_session_path, method: :delete
