-# para editar esta barra se usa el id #navbar-home
%nav.navbar.navbar-default#navbar-home{ class: "#{'navbar-fixed-top' unless params[:action] == 'contact_us'}" }
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = image_tag 'logo.png', class: 'logo-brand hidden-xs hidden-sm'
      = link_to 'Parcatur', root_path, class: 'navbar-brand visible-xs visible-sm'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right.hidden-xs
        = render 'layouts/navigation_links'
      %ul.nav.navbar-nav.visible-xs
        = render 'layouts/navigation_links'
