!!!
%html
  %head
    = favicon_link_tag 'logo-contact.png'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Parcatur - Inicio'
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51790076-1', 'parcatur.org');
      ga('send', 'pageview');
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'La Cámara de Prestadores de Servicios Turísticos de la Zona Libre de la Península de Paraguaná es una entidad dinamizadora y motor del tejido económico que invierte los esfuerzos intelectuales, materiales, espirituales y monetarios para el desarrollo sostenible, equitativo y accesible de la actividad turística en la península de Paraguaná.'}"}
    %link{ href:'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel:'stylesheet', type:'text/css' }
    %link{ href:'http://fonts.googleapis.com/css?family=Open+Sans', rel:'stylesheet', type:'text/css' }
    %link{ href:"http://fonts.googleapis.com/css?family=Raleway:400,900", rel:"stylesheet", type:"text/css" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %bodsy
    -  navigation_home = { "affiliates" => ["new", "show", "create"], "employees" => ["new", "create"], "affiliate_personals" => ["new", "show", "create"]  } #show user
    -  navigation_admin = { "affiliates" => ["edit", "index", "update"], "employees" => ["edit", "index", "update", "show"], "affiliate_personals" => ["edit", "index", "update"] } #show user
    - if ['home'].include? params[:controller] #lista de controladores que se mostraran en el navbar del homepage
      = render 'layouts/navigation'
      = render 'layouts/messages'
    - elsif ['affiliates', 'employees', 'affiliate_personals'].include? params[:controller] and navigation_home[params[:controller]].include? params[:action]
      = render 'layouts/navigation'
    - elsif ['affiliates', 'employees', 'affiliate_personals'].include? params[:controller] and navigation_admin[params[:controller]].include? params[:action]
      = render 'layouts/navigation_admin'
    - else #controladores que se mostraran en el navbar de la administracion
      = render 'layouts/navigation_admin'
      = render 'layouts/messages'
      
    - if ['users', 'categories', 'posts', 'admin'].include? params[:controller]
      .container.admin
        = yield
    - elsif ['affiliates', 'employees', 'affiliate_personals'].include? params[:controller] and ['edit', 'index', 'update'].include? params[:action]
      .container.admin
        = yield
    - else 
      = yield

    - if ['users', 'categories', 'posts', 'admin'].include? params[:controller]
      = #render 'layouts_admin/footeradmin'
